.hidden {
    display: none;
}

body {
    background-size: cover;
}

#weather {
    text-align: right;
}

#greeting {
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}